:root{
    --mainColor: #15282b;
    --containerColor: #15282b;
    --secondaryColor: #fff;
    --borderColor: #000;
    --mainText: #fff;
    --loginHover: #727272;
    --loginhovbac: #fff;
    --secondaryText: #000;
    --themeDotBorder: #24292e;
    --previewBg: #15282b;
    --buttonColor: black;
    --searchGo: #3e84fb;
    --searchGotext: #fff;
    --searchGoborder: #fff;
    --navhover: #dc6830;
}
