.colour-1 {
    background: #483c46;
    color: #fff;
  }

  .colour-2 {
    background: #3c6e71;
  }

  .colour-3 {
    background: #70ae6e;
  }

  .colour-4 {
    background: #82204a;
    color: #fff;
  }

  .colour-5 {
    background: #558c8c;
  }

  .colour-6 {
    background: #917c78;
  }
